<div class="container-fluid">
    <div class="card card-custom">
        <div class="card-body pb-0">
            <form [formGroup]="filterForm" class="form-horizontal" name="form" role="form">
                <div class="row container form-group justify-content-center">
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                        <label class="control-label">Date From:</label>
                        <input (click)="dateFrom.toggle()" #dateFrom="ngbDatepicker" placeholder="dd-mm-yyyy" ngbDatepicker
                            value="1980-08-26" formControlName="dateFrom" name="dateFrom" class="form-control mb-4"
                            type="text" value="" [ngClass]="{
                    invalid: filterForm.get('dateFrom').errors,
                    'invalid-highlighted':
                      filterForm.get('dateFrom').errors && isSubmitted
                  }" [maxDate]="maxDate" />
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                        <label class="control-label">Date To:</label>
                        <input (click)="dateTo.toggle()" placeholder="dd-mm-yyyy" #dateTo="ngbDatepicker" ngbDatepicker
                            formControlName="dateTo" class="form-control mb-4" name="dateTo" type="text" value="" [ngClass]="{
                    invalid: filterForm.get('dateTo').errors,
                    'invalid-highlighted':
                      filterForm.get('dateTo').errors && isSubmitted
                  }" [maxDate]="maxDate" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <label class="control-label">Branch:</label>
    
                        <div class="form-group">
                            <ng-select id="pat_branch" style="width: 100%" [ngClass]="{
                      invalid: filterForm.get('locationid').errors,
                      'invalid-highlighted':
                        filterForm.get('locationid').errors && isSubmitted
                    }" formControlName="locationid" [items]="branchList" bindLabel="Title" [closeOnSelect]="false"
                                bindValue="LocId" placeholder="Select Branch">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                        <label class="control-label">PIN:</label>
                        <input  placeholder="Enter PIN"  formControlName="VisitId" class="form-control mb-4" name="VisitId" type="text" value="" 
                        [ngClass]="{invalid: filterForm.get('VisitId').errors,'invalid-highlighted': filterForm.get('VisitId').errors && isSubmitted}" />
                    </div>
                    <div class="mt-7 col-xl-2 col-lg-4 col-md-2 col-sm-12">
                        <div (click)="getPatientInsuranceData()" class="btn btn-primary" type="button">
                            Search
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <ngx-spinner class="spinner-warning" [name]="spinnerRefs.dataTable" bdColor="rgba(0,0,0,0.8)" size="medium"
                color="#fff" type="square-loader" [fullScreen]="false">
                <p style="color: white">Loading...</p>
            </ngx-spinner>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <input type="text" placeholder="Type to filter: MRN, Patient Name, Cell, Visit ID, Policy No"
                            class="form-control form-control-sm" [(ngModel)]="searchText" name="searchText" (keyup)="filterResults()" />
                        <button class="btn btn-mini btn-outline-primary input-group-btn-custom"
                            (click)="getPatientInsuranceData()">
                            <i class="ti-reload"></i>
                        </button>

                        <button class="btn btn-mini btn-success ml-1" *ngIf="insuranceDataList.length"
                        Title="Resend Insurance Data" 
                        mwlConfirmationPopover
                        [popoverTitle]="confirmationPopoverConfig.popoverTitle"
                        [popoverMessage]="confirmationPopoverConfig.popoverMessage"
                        [confirmText]="confirmationPopoverConfig.confirmText"
                        [cancelText]="confirmationPopoverConfig.cancelText"
                        [placement]="confirmationPopoverConfig.placements[3]"
                        (confirm)="insertRepostedData()"
                        (cancel)="confirmationPopoverConfig.confirmPopoverCancel()"
                        confirmButtonType="btn btn-sm btn-primary"
                        cancelButtonType="btn btn-sm btn-outline-secondary"
                        (click)="confirmationPopoverConfig.confirmClicked = false; confirmationPopoverConfig.cancelClicked = false"
                        [appendToBody]="true">
                             Resend Data
                             <i class="flaticon2-send-1"></i>
                        </button>
                

                        <!-- <button class="btn btn-mini btn-outline-primary input-group-btn-custom ml-1"
                            ngbTooltip="Export To Excel" (click)="exportAsExcel()">
                            <i class="fa fa-file-excel"></i>
                        </button>
                        <span class="badge badge-success cursor-pointer ml-1" ngbTooltip="Total Cases"> 
                            <span class="badge badge-light badge-light-custom">
                            {{insuranceDataList.length || 0}}
                            </span>
                        </span>
                        <span class="badge badge-primary cursor-pointer ml-1" ngbTooltip="Active"> 
                            <span class="badge badge-light badge-light-custom">
                            {{activeCases}}
                            </span>
                        </span>
                        <span class="badge badge-danger cursor-pointer ml-1" ngbTooltip="InActive"> 
                            <span class="badge badge-light badge-light-custom">
                            {{inactiveCases}}
                            </span>
                        </span> -->
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-12">
                    <span class="text-danger" *ngIf="insuranceDataList.length">
                        <strong style="font-size: 12px;">
                            <p class="mt-3">Total Cases : {{insuranceDataList.length}}</p>
                        </strong>
                    </span>
                </div> -->
            </div>
            <div class="table-responsive table-container">
                <table class="table table-hover compact " style="width: 100%;" >
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" *ngIf="insuranceDataList.length"
                                [(ngModel)]="mainChk" 
                                class="cursor-pointer"
                                [disabled]="searchText?.length > 0"
                                [ngModelOptions]="{standalone: true}" 
                                (change)="selectAllItems($event.target.checked)"/>
                            </th>
                            <th width="8%">MRN</th>
                            <th>PatientName</th>
                            <th width="8%">Age / Gender</th>
                            <th>Cell</th>
                            <th>VisitID</th>
                            <th>VisitDate</th>
                            <th *ngIf="showLocColumn">Location</th>
                            <th>Amount</th>
                            <!-- <th>Status</th>
                            <th>Active Date</th>
                            <th>Expire Date</th> -->
                            <th width="8%">Policy No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngIf="!insuranceDataList || insuranceDataList === ''">
                            <td colspan="13">
                                <div class="container-fluid">
                                <app-no-record-found></app-no-record-found>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor=" let data of pagination.paginatedSearchResults; let i = index">
                            <td>
                                <!-- <strong> {{ (pagination.page - 1) * pagination.pageSize + i + 1 }} </strong> -->
                                <input
                                class="cursor-pointer"
                                type="checkbox"
                                [(ngModel)]="data.checked"
                                [ngModelOptions]="{standalone: true}"/>
                            </td>
                            <td width="8%">{{ data.PatientMRNo || "-" }}</td>
                            <td>{{ data.PatientName || "-" }}</td>
                            <td width="8%">{{data.Age || "-"}} / {{ data.Gender || "-" }}</td>
                            <td>{{ data.Cell || "-" }}</td>
                            <td>{{ data.VisitID || "-" }}</td>
                            <td>{{ data.VisitDate ? (data.VisitDate | date:"dd MMM, yyyy, h:mm a") : "-" }}</td>
                            <td *ngIf="showLocColumn">{{ data.LocCode || "-" }}</td>
                            <td>{{ (data.RegInvoiceAmt | currency: 'Rs.' : 'symbol' : '1.0-0') || "-" }}</td>
                            <!-- <td [ngClass]="{'text-danger': !data.isInsuranceActive, 'text-green': data.isInsuranceActive}">
                                <strong> {{ data.isInsuranceActive ? 'Active':'InActive' }} </strong>
                            </td>
                            <td>{{ data.InsuranceActiveDate ? (data.InsuranceActiveDate | date:"dd MMM, yyyy, h:mm a") : '-'
                                }}</td>
                            <td>{{ data.InsuranceExpireDate ? (data.InsuranceExpireDate | date:"dd MMM, yyyy, h:mm a") : '-'
                                }}</td> -->
                            <td width="8%" style="word-break: break-word">{{ data.PatientPolicyNo || '-' }}</td>
    
                        </tr>
    
                    </tbody>
                </table>
            </div>
            <div class="row" *ngIf="(pagination.paginatedSearchResults).length">
                <div class="col-md-6 col-sm-12" >
                        <ngb-pagination [collectionSize]="pagination.collectionSize" [(page)]="pagination.page"
                            [pageSize]="pagination.pageSize" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"
                            (pageChange)="refreshPagination()">
                        </ngb-pagination>
                </div>
                <div class="col-md-6 col-sm-12 " >
                        <select class="custom-select pull-right" style="width: auto" [(ngModel)]="pagination.pageSize"
                            (ngModelChange)="refreshPagination()">
                            <option [ngValue]="5">5 items per page</option>
                            <option [ngValue]="10">10 items per page</option>
                            <option [ngValue]="20">20 items per page</option>
                            <option [ngValue]="50">50 items per page</option>
                            <option [ngValue]="100">100 items per page</option>
                        </select>
                </div>
            </div>
        </div>
    </div>
</div>
