<mat-card>
    <mat-card-header style="place-content: center;">
        <h2>
            IDC Home Collection Privacy Policy
        </h2>
    </mat-card-header>
    <p>IDC Home Collection app is for islamabad diagnostic center's home collection employess.</p>
    <br />
    <p>WE MAY COLLECT THE FOLLOWING INFORMATION</p>
    <ul>
        <li>The user GPS based location</li>
        <li>The user mobile information such as,device ID</li>
    </ul>
    <p>OUR USE OF YOUR INFORMATION</p>
    <ul>
        <li>The information gathered shall be used to track employess even when the app is closed ,or not in use, or
            when the app is running in background.</li>
        <li>The information gathered shall be used to contact employess.</li>
    </ul>
</mat-card>