  <div class="card-body pt-1">
    <div class="d-flex align-items-center">
        <div class="symbol-label">
          <!-- <img [src]="empUserPicture"> -->
         
        </div>

      <div>
        <a class="font-weight-bolder text-dark-75 text-hover-primary cursor-pointer" style="font-size:x-large;">
          <!-- {{FName}} -->
        </a>
        <div class="text-muted"></div>
        <div class="mt-2">
          <a class="text-hover-primary cursor-pointer text-warning mt-3" style="font-size: medium; color:#00E676">
           <!-- <span ngbTooltip="Designation" placement="left">{{Designation}} </span>,<span ngbTooltip="Department" placement="right">{{Department}} </span> -->
          </a>
          <br /><a class="text-hover-primary cursor-pointer" style="font-size: small; color:#757575">
            <!-- {{ENo}} -->
          </a>
        </div>
      </div>
    </div>
    <div class="py-9 card-d-none ">
      
      
      <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
        <i class="fa fa-envelope text-body" aria-hidden="true">
          <span class="font-weight-bold pl-3 mr-2">Email:</span>
        </i>  
        <!-- <a class="text-dark text-hover-primary margin" href="mailto:{{empEmail}}">{{empEmail == '' ? "NA" : empEmail}}</a> -->
      </div>
     
     
      <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
        <i class="fa fa-phone text-body" aria-hidden="true">
          <span class="font-weight-bold pl-3 mr-2">Phone:</span>
        </i>
        <!-- <span class="text-dark text-hover-primary margin">{{empContact}}</span> -->
      </div>
      <!-- <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
        <i class="fa fa-briefcase text-body" aria-hidden="true">
          <span class="font-weight-bold pl-3 mr-2">Designation:</span>
        </i>
        <span class="text-dark text-hover-primary margin">
          {{Designation}}
        </span>
      </div> -->
 
      <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
        <i class="fa fa-map-marker text-body" aria-hidden="true">
          <span class="font-weight-bold pl-3 mr-2">Location:</span>
        </i>
        <!-- <span class="text-dark text-hover-primary margin">{{Elocation}}</span> -->
      </div>
      
     
      
    </div>
  </div>
