<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <span class="card-icon">
        <i class="fas fa-search text-primary"></i>
      </span>
      <h3 class="card-label">
        Doctor's Share
        <small>Generate Share Slip and Ledger</small>
      </h3>
    </div>
  </div>
  <div class="card-body pb-4">
    <div class="row">
      <div class="col-12">
        <form
          [formGroup]="searchSlipForm"
          class="form-horizontal"
          name="form"
          role="form"
        >
          <div class="row form-group justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
              <label class="control-label">Date From:</label>
              <input
                (click)="dateFrom.toggle()"
                #dateFrom="ngbDatepicker"
                placeholder="dd-mm-yyyy"
                ngbDatepicker
                value="1980-08-26"
                formControlName="dateFrom"
                name="dateFrom"
                class="form-control mb-4"
                type="text"
                value=""
                [ngClass]="{
                  invalid: searchSlipForm.get('dateFrom').errors,
                  'invalid-highlighted':
                    searchSlipForm.get('dateFrom').errors && isSubmitted
                }"
            [maxDate]="maxDate"
              />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
              <label class="control-label">Date To:</label>
              <input
                (click)="dateTo.toggle()"
                placeholder="dd-mm-yyyy"
                #dateTo="ngbDatepicker"
                ngbDatepicker
                formControlName="dateTo"
                class="form-control mb-4"
                name="dateTo"
                type="text"
                value=""
                [ngClass]="{
                  invalid: searchSlipForm.get('dateTo').errors,
                  'invalid-highlighted':
                    searchSlipForm.get('dateTo').errors && isSubmitted
                }"
            [maxDate]="maxDate"
              />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <label class="control-label">Branch:</label>
                  <div class="form-group">
                        <ng-select id="pat_branch" style="width: 100%;"  [ngClass]="{'invalid': searchSlipForm.get('LocIds').errors, 'invalid-highlighted': searchSlipForm.get('LocIds').errors && isSubmitted}" 
                            formControlName="LocIds" [items]="branchList" bindLabel="Title" [multiple]="true" 
                            [closeOnSelect]="false" 
                            bindValue="LocId" placeholder="Select Branch">

                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                    <span class="ng-value-label"> {{item.Title}}</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">{{items.length - 2}} more...</span>
                                </div>
                            </ng-template>
                            <ng-template ng-header-tmp>
                                <button (click)="onSelectAllBranches()" class="btn btn-mini btn-outline-primary"
                                    type="button"><i class="ti-check"></i>Select all</button>
                                <button (click)="onUnselectAllBranches()"
                                    class="btn btn-mini btn-outline-primary m-l-10 pull-right" type="button"><i
                                        class="ti-close"></i>Unselect all</button>
                            </ng-template>
                        </ng-select>
                    </div> 
            </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <label class="control-label">Radiologist:</label>
                  <div class="form-group">
                      <ng-select id="pat_branch" style="width: 100%;"  [ngClass]="{'invalid': searchSlipForm.get('EmpIds').errors, 'invalid-highlighted': searchSlipForm.get('EmpIds').errors && isSubmitted}" 
                            formControlName="EmpIds" [items]="radoiologistList"  [multiple]="true" 
                            [closeOnSelect]="false"  bindValue="UserId"
                              bindLabel="displayLabel"
                            placeholder="Select Radiologist">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                    <span class="ng-value-label"> {{item.FullName}}</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">{{items.length - 2}} more...</span>
                                </div>
                            </ng-template>
                            <ng-template ng-header-tmp>
                                <button (click)="onSelectAllRadiologist()" class="btn btn-mini btn-outline-primary"
                                    type="button"><i class="ti-check"></i>Select all</button>
                                <button (click)="onUnselectAllRadiologist()"
                                    class="btn btn-mini btn-outline-primary m-l-10 pull-right" type="button"><i
                                        class="ti-close"></i>Unselect all</button>
                            </ng-template>
                        </ng-select>
                    </div> 
            </div>
             <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
              <label class="">Section:</label>
              <ng-select style="width: 100%;" class="mr-1" [items]="subSectionList"  bindLabel="SubSectionTitle"
                  placeholder="Select Section"
                  bindValue="SubSectionId" [multiple]="true" 
                  [closeOnSelect]="false"
                  formControlName="subSectionIds" 
                  [ngClass]="{'invalid': searchSlipForm.get('subSectionIds').errors , 'invalid-highlighted': searchSlipForm.get('subSectionIds').errors && isSubmitted }"
                  >
                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                      <div class="ng-value" *ngFor="let item of items | slice:0:2">
                          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                          <span class="ng-value-label"> {{item.SubSectionTitle}}</span>
                      </div>
                      <div class="ng-value" *ngIf="items.length > 2">
                          <span class="ng-value-label">{{items.length - 2}} more...</span>
                      </div>
                  </ng-template>
                  <ng-template ng-header-tmp>
                      <button (click)="onSelectAllSections()" class="btn btn-mini btn-outline-primary"
                          type="button"><i class="ti-check"></i>Select all</button>
                      <button (click)="onUnselectAllSections()"
                          class="btn btn-mini btn-outline-primary m-l-10 pull-right" type="button"><i
                              class="ti-close"></i>Unselect all</button>
                  </ng-template>
              </ng-select>
          </div>
            <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <label for="departmentIds">Section:</label>
              <div class="form-group">
                <select
                  class="form-control"
                  placeholder="-Select Department-"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="labDeptID"
                  [disabled]="reportType === '3'"
                  (ngModelChange)="getSubSection()"
                >
                  <option [ngValue]="-1">Select All</option>
                  <option [ngValue]="1">Lab</option>
                  <option [ngValue]="2">Imaging</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <label class="control-label">Sub Section:</label>
              <div class="form-group">
                <ng-select
                  style="width: 100%"
                  value=""
                  [items]="subSectionList"
                  bindLabel="SubSectionTitle"
                  placeholder="-Select Sub Section-"
                  bindValue="SubSectionId"
                  formControlName="subSectionID"
                  [disabled]="reportType === '3'"
                >
                </ng-select>
              </div>
            </div> -->
            <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <label class="">Report Type:</label>
              <div class="form-group mt-2">
                <mat-radio-group
                  aria-label="Select an option"
                  [(ngModel)]="reportType"
                  (ngModelChange)="onChange($event)"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-radio-button value="1">Summary</mat-radio-button>
                  <mat-radio-button value="2" class="ml-1"
                    >Detail</mat-radio-button
                  >
                  <mat-radio-button value="3" class="ml-1"
                    >Monthly</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div> -->
            <div class="mt-8 col-sm-12 col-md-12 col-lg-4 col-xl-2">
              <button
                (click)="searchDataList()"
                class="btn btn-primary"
                type="button"
              >
                <i aria-hidden="true" class="fa fa-search"></i>Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <ngx-spinner
      class="spinner-warning"
      [name]="spinnerRefs.searchTable"
      bdColor="rgba(0,0,0,0.8)"
      size="medium"
      color="#fff"
      type="square-loader"
      [fullScreen]="false"
    >
      <p style="color: white">Loading...</p>
    </ngx-spinner>
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-12">
        <div class="input-group">
          <input
            type="text"
            placeholder="type to filter"
            class="form-control form-control-sm"
            [(ngModel)]="searchTextShareSummary"
            name="searchTextShareSummary"
          />
          <button class="btn btn-mini btn-outline-primary input-group-btn-custom ml-1" ngbTooltip="Export To Excel" (click)="exportAsExcel()"><i class="fa fa-file-excel"></i></button>
          <span class="badge bg-white text-dark py-2 px-2 small mt-3">
                  <i class="fas fa-database me-1"></i> Total Records: {{ DoctorShareDetalList?.length }}
                </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          class="table-responsive table-container fixed-height-table" *ngIf="DoctorShareDetalList?.length">
          <table
            class="table table-hover table-bordered"
            style="width: 100%; min-height: 100px"
            cellpadding="0"
            cellspacing="0">
            <thead class="sticky-header">
              <tr>
                <th>Sr.#</th>
                <th>PIN</th>
                <th>Patient Name</th>
                <th>Test</th>
                <th>Section</th>
                <th>Location</th>
                <th>Radiologist</th>
                <th>Report Date</th>
                <th>Price</th>
                <th>Init Share</th>
                <th>DS Share</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngIf="!DoctorShareDetalList?.length">
                <td colspan="13">No Record Found</td>
              </tr>
              <tr *ngFor="let data of DoctorShareDetalList | filterByKey: searchTextShareSummary:['VisitID', 'PatientName', 'Test', 'Section', 'LocationCode', 'DoctorName']; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ data.VisitID  }}</td>
                <td>{{ data.PatientName || "-" }}</td>
                <td>{{ data.Test || "-" }}</td>
                <td>{{ data.Section || "-" }}</td>
                <td>{{ data.LocationCode || "-" }}</td>
                <td>{{ data.DoctorName || "-" }}</td>
                <td>{{ data.Date | date : "dd MMM, yyyy h:mm a" }}</td>
                <td>{{ data.Price || "-" }}</td>
                <td>{{ data['Reported By'] || "-" }}</td>
                <td>{{ data['DS By'] || "-" }}</td>
                <td>{{ data.TotalShare || "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive table-container fixed-height-table" *ngIf="ifSummary">
          <table
            class="table table-hover compact table-bordered"
            style="width: 100%; min-height: 100px"
            cellpadding="0"
            cellspacing="0">
            <thead class="sticky-header">
              <tr>
                <th>Date</th>
                <th>X-Ray</th>
                <th>MRI</th>
                <th>OPG</th>
                <th>CT Scan</th>
                <th>Ultrasound</th>
                <th>Floro</th>
                <th>Echo</th>
                <th>ETT</th>
                <th>Endo</th>
                <th>Procedure</th>
                <th>Doppler</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- Show if no data is present -->
              <tr class="text-center" *ngIf="!DoctorShareSummaryList.length">
                <td colspan="13">No Record Found</td>
              </tr>

              <!-- Data Rows -->
              <tr>
                <td colspan="100" class="bg-light-200 text-dark">
                  <h4>Radiologist: {{ DoctorName }}</h4>
                </td>
              </tr>
              <tr *ngFor="let data of DoctorShareSummaryList; let i = index">
                <td>{{ data.FinalOn | date : "dd MMM, yyyy" }}</td>
                <td>{{ data.XR || "-" }}</td>
                <td>{{ data.MRI || "-" }}</td>
                <td>{{ data.OPG || "-" }}</td>
                <td>{{ data.CTSCAN || "-" }}</td>
                <td>{{ data.UGS || "-" }}</td>
                <td>{{ data.FLORO || "-" }}</td>
                <td>{{ data.ECHO || "-" }}</td>
                <td>{{ data.ETT || "-" }}</td>
                <td>{{ data.ENDO || "-" }}</td>
                <td>{{ data.PROC || "-" }}</td>
                <td>{{ data.DOPPLER || "-" }}</td>
                <!-- Calculate the total dynamically -->
                <td>{{ calculateTotal(data) }}</td>
              </tr>

              <!-- Total Row -->
              <tr class="font-weight-bold bg-light text-black">
                <td>Total</td>
                <td>{{ calculateColumnTotal("XR") }}</td>
                <td>{{ calculateColumnTotal("MRI") }}</td>
                <td>{{ calculateColumnTotal("OPG") }}</td>
                <td>{{ calculateColumnTotal("CTSCAN") }}</td>
                <td>{{ calculateColumnTotal("UGS") }}</td>
                <td>{{ calculateColumnTotal("FLORO") }}</td>
                <td>{{ calculateColumnTotal("ECHO") }}</td>
                <td>{{ calculateColumnTotal("ETT") }}</td>
                <td>{{ calculateColumnTotal("ENDO") }}</td>
                <td>{{ calculateColumnTotal("PROC") }}</td>
                <td>{{ calculateColumnTotal("DOPPLER") }}</td>
                <td>{{ calculateGrandTotal() }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="table-responsive table-container fixed-height-table"
          *ngIf="ifMonthly"
        >
          <table
            class="table table-hover compact table-bordered"
            style="width: 100%; min-height: 100px"
            cellpadding="0"
            cellspacing="0"
          >
            <thead class="sticky-header">
              <tr>
                <th>Doctor</th>
                <th>X-Ray</th>
                <th>MRI</th>
                <th>OPG</th>
                <th>CT Scan</th>
                <th>Ultrasound</th>
                <th>Floro</th>
                <th>Echo</th>
                <th>ETT</th>
                <th>Endo</th>
                <th>Procedure</th>
                <th>Doppler</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <!-- Show if no data is present -->
              <tr class="text-center" *ngIf="!DoctorShareMonthlyList.length">
                <td colspan="13">No Record Found</td>
              </tr>

              <!-- Data Rows -->
              <tr>
                <td colspan="100" class="bg-light-200 text-dark">
                  <h4>Radiologist: {{ DoctorName }}</h4>
                </td>
              </tr>
              <tr *ngFor="let data of DoctorShareMonthlyList; let i = index">
                <td>{{ data.FinalOn | date : "dd MMM, yyyy" }}</td>
                <td>{{ data.XR || "-" }}</td>
                <td>{{ data.MRI || "-" }}</td>
                <td>{{ data.OPG || "-" }}</td>
                <td>{{ data.CTSCAN || "-" }}</td>
                <td>{{ data.UGS || "-" }}</td>
                <td>{{ data.FLORO || "-" }}</td>
                <td>{{ data.ECHO || "-" }}</td>
                <td>{{ data.ETT || "-" }}</td>
                <td>{{ data.ENDO || "-" }}</td>
                <td>{{ data.PROC || "-" }}</td>
                <td>{{ data.DOPPLER || "-" }}</td>
                <!-- Calculate the total dynamically -->
                <td>{{ calculateTotal(data) }}</td>
              </tr>

              <!-- Total Row -->
              <tr class="font-weight-bold bg-light text-black">
                <td>Total</td>
                <td>{{ calculateColumnTotal("XR") }}</td>
                <td>{{ calculateColumnTotal("MRI") }}</td>
                <td>{{ calculateColumnTotal("OPG") }}</td>
                <td>{{ calculateColumnTotal("CTSCAN") }}</td>
                <td>{{ calculateColumnTotal("UGS") }}</td>
                <td>{{ calculateColumnTotal("FLORO") }}</td>
                <td>{{ calculateColumnTotal("ECHO") }}</td>
                <td>{{ calculateColumnTotal("ETT") }}</td>
                <td>{{ calculateColumnTotal("ENDO") }}</td>
                <td>{{ calculateColumnTotal("PROC") }}</td>
                <td>{{ calculateColumnTotal("DOPPLER") }}</td>
                <td>{{ calculateGrandTotal() }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
