// ::ng-deep .mat-checkbox-checked.mat-accent {
//   .mat-checkbox-ripple .mat-ripple-element {
//     background-color: #F64E60 !important;
//   }

//   .mat-checkbox-background,
//   .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//     background-color: #F64E60;
//   }

//   .mat-checkbox-frame,
//   .mat-checkbox-checkmark {
//     border-color: #F64E60;
//   }

//   .mat-checkbox-checkmark-path {
//     fill: #F64E60;
//   }
// }

// /* Unchecked state */
// ::ng-deep .mat-checkbox.mat-accent {
//   .mat-checkbox-ripple .mat-ripple-element {
//     background-color: #F64E60 !important;
//   }

//   .mat-checkbox-frame {
//     border-color: #F64E60;
//   }
// }

::ng-deep .ng-dropdown-panel {
  z-index: 2000 !important;
  /* ensure it's above modals and popovers */
}

.invalid-highlighted {
  border: 2px solid #dc3545 !important;
  background-color: #ffe6e6 !important;
  box-shadow: 0 0 3px #dc3545;
}

tr td {
  // padding-top: 1em;
  padding-top: 1px;
  padding-bottom: 0px;
}

::ng-deep td,
::ng-deep th {
  vertical-align: middle !important;
}

::ng-deep td mat-checkbox,
::ng-deep th mat-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table thead th {
  background-color: white !important;
}

