h1 {
    color: rgb(22, 2, 2);
    text-align: center;
    justify-items: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }