<!-- <div class="">
    <iframe title="SaleAnaLysis" width="1140" height="600" class="col-12"
        src="https://app.powerbi.com/reportEmbed?reportId=333372f8-6972-4b22-89c7-f478e25e6b7a&autoAuth=true&embeddedDemo=true"
        frameborder="0" allowFullScreen="false"></iframe>
</div> -->



<iframe  class="responsive-iframe"  title="SaleAnaLysis"
 src="https://app.powerbi.com/reportEmbed?reportId=333372f8-6972-4b22-89c7-f478e25e6b7a&autoAuth=true&ctid=83aeef06-dfbf-49d6-bc01-daa599a683b3" 
frameborder="0" allowFullScreen="true"   ></iframe>