.active{
     color: blue;
  }
 .form-group input {
     position: relative;
 }
.form-group button {
     position: absolute;
     right: 12px;
     top: 0;
     padding: 12px;
     border-radius: 55% 2px 2px 50%;
     // background: #aef3db;
}
.text-button {
     position: absolute;
     right: 9px;
     top: 8px;
     cursor: pointer;
   }
.text-button i{
     font-size: 1.5em;
   }
   .text-button i:hover {
       color: #1bc5bd;
   }
@media only screen and (max-width: 900px) {
     .form-group button {
         
          right: 15px;
          top: 3px;
          padding: 9px;

     }
   }
@media only screen and (max-width: 768px) {
     .form-group button {
         
          right: 14px;
          top: 1px;
          padding: 4px;

     }
   }