<div class="ref-by-doctors-page">

    <div class="row">
        <div class="col-md-6">
            <app-card [title]="'Doctors List'" [cardClass]="'tim-card tim-card tim-card-success'">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" placeholder="type atleast 5 characters to filter" (keyup)="filterResults()" class="form-control form-control-sm" [(ngModel)]="searchText" name="searchText"/>
                            <button class="btn btn-outline-success btn-mini" (click)="getRefByDoctors()"><i class="ti-reload"></i></button>
                            <button  ngbTooltip="PopUP Export Excel" (click)="openExcelPopUP()"
                            class="btn btn-outline-success btn-mini">
                            <i class="flaticon-file-2"></i><i aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-outline-success btn-mini" (click)="optionalColumnsVisibility = !optionalColumnsVisibility"><span *ngIf="!optionalColumnsVisibility">show all columns</span> <span *ngIf="optionalColumnsVisibility">show less columns</span></button>
                        </div>
                    </div>
                    <div class="col-12">
                        <span *ngIf="searchText && searchText.length < 5">type more <strong>{{5 - searchText.length}}</strong> character(s) to search</span>
                    </div>
                </div>

                <div class="table-responsive fixed-height-table">
                    <table class="table table-hover compact">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>PMDC No</th>
                                <th class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">Med. Type</th>
                                <th class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">Address</th>
                                <th>City</th>
                                <th>Contact No</th>
                                <th class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">Email</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr 
                                *ngFor="let item of pagination.paginatedSearchResults"
                                [ngClass]="{'active-rec-border-left': doctorForm.get('RefId').value == item.RefId}"
                                (click)="edit(item)"
                            >
                                <td>{{item.RefByName}}</td>
                                <td>{{item.PMDCRegNo}}</td>
                                <td class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">{{item.MedType}}</td>
                                <td class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">{{item.RefByAddress}}</td>
                                <td>{{item.City}}</td>
                                <td>{{item.ContactNo || '-'}}</td>
                                <td class="optional" [ngStyle]="{display: optionalColumnsVisibility ? '' : 'none'}">{{item.EMail}}</td>
                                <td class="text-right">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button
                                        class="btn btn-outline-danger btn-mini"
                                        title="Delete"
                                        mwlConfirmationPopover
                                        [popoverTitle]="confirmationPopoverConfig.popoverTitle"
                                        [popoverMessage]="confirmationPopoverConfig.popoverMessage"
                                        [confirmText]="confirmationPopoverConfig.confirmText"
                                        [cancelText]="confirmationPopoverConfig.cancelText"
                                        [placement]="confirmationPopoverConfig.placements[0]"
                                        (confirm)="delete(item)"
                                        (cancel)="confirmationPopoverConfig.confirmPopoverCancel()"
                                        confirmButtonType="danger"
                                        cancelButtonType="outline-secondary"
                                        (click)="confirmationPopoverConfig.confirmClicked = false; confirmationPopoverConfig.cancelClicked = false"
                                        [appendToBody]="true"
                                    >
                                        <i class="ti-trash m-0"></i>
                                    </button>
                                    <button
                                        class="btn btn-outline-success btn-mini ml-1"
                                        title="Edit"
                                        (click)="edit(item)"
                                    >
                                        <i class="ti-pencil m-0"></i>
                                    </button>
                                    <button
                                        class="btn btn-outline-primary btn-mini ml-1"
                                        title="Copy"
                                        (click)="navigateToBtoBConfigPage(item)">
                                        <i class="fa fa-clone m-0"></i>
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row">

                    <div class="col-12">
                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="pagination.collectionSize" [(page)]="pagination.page" size="" [pageSize]="pagination.pageSize" [boundaryLinks]="true" [maxSize]="5" [rotate]="true" (pageChange)="refreshPagination()">
                            </ngb-pagination>
                            <select class="custom-select" style="width: auto" [(ngModel)]="pagination.pageSize" (ngModelChange)="refreshPagination()">
                                <option [ngValue]="5">5 items per page</option>
                                <option [ngValue]="10">10 items per page</option>
                                <option [ngValue]="20">20 items per page</option>
                                <option [ngValue]="50">50 items per page</option>
                                <option [ngValue]="100">100 items per page</option>
                            </select>
                        </div>
                    </div>

                </div>

            </app-card>
        </div>

        <div class="col-md-6">
            <app-card [title]="'Ref. by Doctor(s)'" [cardClass]="'tim-card tim-card tim-card-success'">
                <div class="row">
                    <div class="col-12">
                        <!-- <span style="font-size: 24px;">Ref. by Doctor(s)</span> -->
                        <!-- <button class="btn btn-sm btn-outline-success pull-right" (click)="showAddRefByDoctorForm(true)"><i class="ti-plus"></i>Add New</button> -->
                        <!-- <button class="btn btn-outline-danger pull-right" *ngIf="showRefByDoctorsForm" (click)="showAddRefByDoctorForm(false)"><i class="ti-close"></i></button> -->
                    </div>
                    <div class="col-12">
                        <form class="md-float-material" [formGroup]="doctorForm">

                            <div class="row">

                                <div class="col-md-4 d-none">
                                    <label>Doc ID:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="RefId">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Name <span class="mandatory-asterisk">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"  formControlName="RefByName"
                                            [ngClass]="{'invalid': doctorForm.get('RefByName').errors, 'invalid-highlighted': doctorForm.get('RefByName').errors && doctorFormSubmitted}">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>PMDC No </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="PMDCRegNo">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Med. Type</label>
                                    <div class="input-group">
                                        <select class="form-control" formControlName="MedType">
                                            <option [value]="''">--select--</option>
                                            <option *ngFor="let s of medTypes" [value]="s.id">{{s.title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>City</label>
                                    <div class="input-group">
                                        <ng-select style="width: 100%;" [items]="citiesList" bindLabel="CityName"
                                            placeholder="--select--" bindValue="CityName" formControlName="City"
                                            [ngClass]="{'invalid': doctorForm.get('City').errors, 'invalid-highlighted': doctorForm.get('City').errors && doctorFormSubmitted}"
                                        >
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Address</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="RefByAddress" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>ContactNo</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="ContactNo" (keypress)="validateNo($event)"
                                        />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>E-Mail</label>
                                    <div class="input-group">
                                        <input type="text" placeholder="example@domain.com" class="form-control" formControlName="EMail" [ngClass]="{'invalid': doctorForm.get('EMail').errors, 'invalid-highlighted': doctorForm.get('EMail').errors && doctorFormSubmitted}"/>
                                    </div>
                                </div>
                                
    
                                <div class="col-md-4">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button
                                            class="btn btn-sm btn-success "
                                            title="Save"
                                            mwlConfirmationPopover
                                            [popoverTitle]="confirmationPopoverConfig.popoverTitle"
                                            [popoverMessage]="confirmationPopoverConfig.popoverMessage"
                                            [confirmText]="confirmationPopoverConfig.confirmText"
                                            [cancelText]="confirmationPopoverConfig.cancelText"
                                            [placement]="confirmationPopoverConfig.placements[0]"
                                            (confirm)="submitForm()"
                                            (cancel)="confirmationPopoverConfig.confirmPopoverCancel()"
                                            confirmButtonType="success"
                                            cancelButtonType="outline-secondary"
                                            (click)="confirmationPopoverConfig.confirmClicked = false; confirmationPopoverConfig.cancelClicked = false"
                                            [appendToBody]="true"
                                        > <i class="ti-save m-0"></i>
                                            <span *ngIf="!doctorForm.get('RefId').value">Save</span>
                                            <span *ngIf="doctorForm.get('RefId').value">Update</span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger ml-1" (click)="resetForm()">Clear</button>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                
                        </form>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    
    <ngx-spinner class="spinner-success" bdColor="rgba(0,0,0,0.8)" size="medium"
        color="#fff" type="square-loader" [fullScreen]="false">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>



</div>

<!--start:: Ref Dr List Modal--------------------------------------------->
<ng-template #refDrListModal let-refDrListModal>
    <div class="modal-header" style="display: block !important; padding: 1rem 1.75rem;">
        <div class="col-md-12">
            <i class="fas fa-window-close text-danger cursor-pointer mr-1 float-right"
              aria-label="Close" (click)="refDrListModal.close()">
            </i>
          </div>
    </div>
    <div class="modal-body pb-1">
        <form [formGroup]="getrefDrData" class="form-horizontal" name="form" role="form">
            <div class="row form-group justify-content-center">
                <div class="col-md-3 col-sm-12">
                    <label class="control-label">Date From:</label>
                    <input (click)="dateFrom.toggle()" #dateFrom="ngbDatepicker" placeholder="dd-mm-yyyy" ngbDatepicker
                         value="1980-08-26" formControlName="dateFrom" name="dateFrom"
                        class="form-control mb-4" type="text" value="" [ngClass]="{'invalid': getrefDrData.get('dateFrom').errors , 'invalid-highlighted': getrefDrData.get('dateFrom').errors && isSubmitted }" [maxDate]="maxDate"/>
                </div>
                <div class="col-md-3  col-sm-12">
                    
                    <label class="control-label">Date To:</label>
                    <input (click)="dateTo.toggle()"  placeholder="dd-mm-yyyy" #dateTo="ngbDatepicker"  ngbDatepicker
                        formControlName="dateTo" class="form-control mb-4" name="dateTo" type="text" value=""
                        [ngClass]="{'invalid': getrefDrData.get('dateTo').errors , 'invalid-highlighted': getrefDrData.get('dateTo').errors && isSubmitted }" [maxDate]="maxDate" />
                </div>
            
                <div class="mt-8 col-md-3 col-sm-12">
                    <div (click)="getrefDrDataList()" class="btn btn-primary" type="button">Search</div>
                </div>
            </div>
        </form>
        <div class="row ">
            <div class="col-md-12 text-center mb-5 " *ngIf="refDrDataList.length">
                 <button class="btn btn-outline-primary input-group-btn-custom ml-1" ngbTooltip="Export To Excel" (click)="exportAsXLSX()"><i class="fa fa-file-excel"> Export as XLS </i>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer py-1">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"
            (click)="refDrListModal.close()">
            <i class="fa fa-times-circle"></i> Close
        </button>
    </div>
</ng-template>

<!--end:: Ref Dr List  Modal---------------------------------------------->
      
