<div class="row">
    <div class="col-md-12">
        <form [formGroup]="searchForm" class="form-horizontal" name="form" role="form">
            <div class="row form-group justify-content-center">
                <ngx-spinner class="spinner-warning" [name]="spinnerRefs.searchFormSpinner"
                bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="square-loader"
                [fullScreen]="false">
                <p style="color: white"> Loading... </p>
              </ngx-spinner>
                <div class="col-md-2 col-sm-12">
                    <label class="control-label">Date From:</label>
                    <input (click)="dateFrom.toggle()" #dateFrom="ngbDatepicker" placeholder="dd-mm-yyyy" ngbDatepicker
                         value="1980-08-26" formControlName="dateFrom" name="dateFrom"
                        class="form-control mb-4" type="text" value="" [ngClass]="{'invalid': searchForm.get('dateFrom').errors , 'invalid-highlighted': searchForm.get('dateFrom').errors && isSubmitted }" />
                </div>
                <div class="col-md-2 col-sm-12">
                    <label class="control-label">Date To:</label>
                    <input (click)="dateTo.toggle()"  placeholder="dd-mm-yyyy" #dateTo="ngbDatepicker"  ngbDatepicker
                        formControlName="dateTo" class="form-control mb-4" name="dateTo" type="text" value=""
                        [ngClass]="{'invalid': searchForm.get('dateTo').errors , 'invalid-highlighted': searchForm.get('dateTo').errors && isSubmitted }"  />
                </div>
                <div class="col-md-3 col-sm-12">
                        <label class="">Tests:</label>
                        <ng-select style="width: 100%;" class=""
                          placeholder="-Select Tests-" [items]="testList" bindLabel="TestCompleteName"
                          bindValue="TPId" formControlName="TPID"  
                          [ngClass]="{'invalid': searchForm.get('TPID').errors , 'invalid-highlighted': searchForm.get('TPID').errors && isSubmitted }">
                          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items | slice:0:2">
                              <span class="ng-value-icon right" (click)="clear(item)"
                                aria-hidden="true">×</span>
                                <span>{{item.TestCompleteName }}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                </div>

                <div class="col-md-3 col-sm-12">
                    <label class="control-label">Branch:</label>
                        <div class="form-group">
                            <ng-select id="pat_branch" style="width: 100%;" [ngClass]="{'invalid': searchForm.get('locID').errors, 'invalid-highlighted': searchForm.get('locID').errors && isSubmitted}" 
                                formControlName="locID" [items]="branchList" bindLabel="Title" [multiple]="true" 
                                [closeOnSelect]="false" 
                                bindValue="LocId" placeholder="--Select Branch--">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                        <span class="ng-value-label"> {{item.Title}}</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 2">
                                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-header-tmp>
                                    <button (click)="onSelectAllBranches()" class="btn btn-mini btn-outline-primary"
                                        type="button"><i class="ti-check"></i>Select all</button>
                                    <button (click)="onUnselectAllBranches()"
                                        class="btn btn-mini btn-outline-primary m-l-10 pull-right" type="button"><i
                                            class="ti-close"></i>Unselect all</button>
                                </ng-template>
                            </ng-select>
                          
                        </div> 
                </div>
               
                <div class="mt-8 col-md-2 col-sm-12">
                    <div (click)="getSearchedDataList()" class="btn btn-primary" type="button">Search</div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
            <ngx-spinner class="spinner-warning" [name]="spinnerRefs.searchTable"
                            bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="square-loader"
                            [fullScreen]="false">
                            <p style="color: white"> Loading... </p>
                          </ngx-spinner>
            <span *ngIf="TestDataList.length" class="text-danger pull-right">
                <strong> 
                    <span class="text-danger">
                    Total Records: {{TestDataList.length}} </span>
                </strong>
            </span>
            <div class="table-responsive table-container fixed-height-table"> 
                <table  class="table table-hover compact table-bordered cursor-pointer" style="width: 100%;"
                cellpadding=0 cellspacing=0>
                <thead class="header">
                    <th>PIN</th>
                    <th>Name</th>
                    <th>Reg. Date Time</th>
                    <th>Location</th>
                    <th>Status</th>
                
                <tbody>
                    <tr class="text-center" *ngIf="!TestDataList.length">
                        <td colspan="100">No Record Found</td>
                    </tr>
                    <tr *ngFor="let data of TestDataList; let i = index" (dblclick)="patientRowDoubleClick(data)">
                        <td>{{data.PIN}}</td>
                        <td>{{data.Name}}</td>
                        <td>{{data.RegDateTime | date:"dd MMM, yyyy, h:mm a" }}</td>
                        <td>{{data.Location }}</td>
                        <td>{{data.Status  }}</td>
                      
                    </tr>
                </tbody>
            </table>
            </div>
    </div>
</div>