<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;"> 
            <!-- <mat-tab label="Shortlisted Applicants(3rd)">
                <app-third-shortlisted-applicants *matTabContent></app-third-shortlisted-applicants>
            </mat-tab>
            
            <mat-tab label="Confirmed Applicants(3rd)">
                <app-third-confirmed-applicants *matTabContent></app-third-confirmed-applicants>
            </mat-tab>
            
            <mat-tab label="Interviewers Mgt">
                <app-third-assigned-interviewers *matTabContent></app-third-assigned-interviewers>
            </mat-tab> -->

            <mat-tab label="Interview Process">
                <app-third-interview-process *matTabContent></app-third-interview-process> 
            </mat-tab>
            <mat-tab label="Interview Result">
                <app-third-interview-result *matTabContent></app-third-interview-result>
            </mat-tab>                            
        </mat-tab-group>
    </mat-card-content>
</mat-card>