<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;"> 
            <mat-tab label="First Interview Interviewers">
                <app-interviewers *matTabContent></app-interviewers>
            </mat-tab>
            <mat-tab label="Second Interview Interviewers">
                <app-second-interviewers *matTabContent></app-second-interviewers> 
            </mat-tab>
            <mat-tab label="Third Interview Interviewers">
                <app-third-interviewers *matTabContent></app-third-interviewers>
            </mat-tab>                            
        </mat-tab-group>
    </mat-card-content>
</mat-card>