<div>
    <ngx-spinner class="spinner-info" bdColor="rgba(0,0,0,0.8)"
        [name]="spinnerRefs.machineStatusSection" size="medium" color="#fff" type="square-loader"
        [fullScreen]="false">
        <p style="color: white"> Please wait... </p>
    </ngx-spinner>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 col-xl-12">
            <span class="switch switch-outline switch-icon switch-primary">
                Machine Status(On/Off)
                <label class="ml-2">
                    <input type="checkbox" checked="checked" name="select" [(ngModel)]="isOnOff"/>
                    <span></span>
                </label>
            </span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 col-xl-12">
            <div class="form-group">
                <label for="MachineDesc" class="control-label">Remarks</label>
                <textarea  class="form-control form-control-sm" cols="30" rows="4" [(ngModel)]="isOnOffRemarks"></textarea>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 col-xl-12">
            <button
                    [disabled]="disabledButton"
                    class="btn btn-sm btn-primary pull-right"
                    title=""
                    mwlConfirmationPopover
                    [popoverTitle]="confirmationPopoverConfig.popoverTitle"
                    [popoverMessage]="confirmationPopoverConfig.popoverMessage"
                    [confirmText]="confirmationPopoverConfig.confirmText"
                    [cancelText]="confirmationPopoverConfig.cancelText"
                    [placement]="confirmationPopoverConfig.placements[0]"
                    (confirm)="updateMachineStatus()"
                    (cancel)="confirmationPopoverConfig.confirmPopoverCancel()"
                    confirmButtonType="btn btn-sm btn-primary"
                    cancelButtonType="btn btn-sm btn-outline-secondary"
                    (click)="confirmationPopoverConfig.confirmClicked = false; confirmationPopoverConfig.cancelClicked = false"
                    [appendToBody]="true">
                    <i 
                    class="fa fa-edit"
                    ></i>Update <i class="spinner-border-custom" aria-hidden="true" [hidden]="isSpinner" ></i>
                </button>
        </div>
    </div>
</div>
