<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;"> 
            <mat-tab label="All Applicants">
                <app-applicant-list-all *matTabContent></app-applicant-list-all>
            </mat-tab>
            <mat-tab label="Applied(Shortlist for 1st Interview)">
                <app-applicant-list *matTabContent></app-applicant-list> 
            </mat-tab>                           
        </mat-tab-group>
    </mat-card-content>
</mat-card>