.table-hover tbody tr:hover {
    cursor: pointer;
}
.box{
    height: 59px !important;
    width: 150px !important
}
.center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 3.2vh;
    width: 9vh;
}
.search-btn{
  padding:5px 28px !important;
}
.center-aligned p{
  padding-top: 10px;
  font-size: smaller;
  line-height: initial;
  text-align: center;
}

.center-aligned p:hover {
  transition: 700ms ease;
}

.aligned{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hc-stats p{
    font-size: revert;
    padding-left: 15px;
    margin-bottom: 0px;
}
.hc-stats h1{
    padding-left: 15px;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 0px;
}
.positioning{  
  position: absolute;
  z-index: 4;
  top: 0px;
  right: 0px;
}

.cms-tag{
  text-transform: uppercase;
    letter-spacing: 2px;
}
  .test-summary-info-section{
    border-radius: 0px 0px 100px 0px;
  }
  

  
  .lable-active{
    border-left: 3px solid black;
    box-shadow: -4px 7px 9px -2px #000;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .borderless-accordion  {
    border: none;
    border-radius: 0;
    margin:0;
  }
  .content-wrapper{
    max-width: 100%;
  overflow-wrap: break-word;
  }




