<app-ris-worklist-params (risParamsValues)="risParamsReceived($event)"
    [buttonControls]="['branch', 'subsectionids', 'visitid', 'datefrom', 'dateto', 'visitid']"
    [(paramsValuesForWorkListHeader)]="paramsValuesForWorkListHeader"></app-ris-worklist-params>



<!-- [colNamesForMOScreen]="colNamesForMOScreen" -->

<app-worklist-queue *ngIf="paramsValuesForWorkList"
                    (paramFormHeaderInfo)="getParamFormHeaderInfo($event)"
                    [paramsValuesForWorkList]="paramsValuesForWorkList" [actionsPermission]="['ques']"
                    [colNamesForMOScreen]="colNamesForMOScreen"></app-worklist-queue>
    