// .ng-valid[required], .ng-valid.required  {
//     border-left: 5px solid #42A948; 
//   }
  
//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; 
//   }


  :host {
    width: 100%;
    @media (min-width: 992px) {
      .login-form {
        width: 100%;
        max-width: 450px;
  
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
  
