:host ::ng-deep ckeditor .ng-invalid.ng-touched .cke_contents,
:host ::ng-deep ckeditor.ng-invalid.ng-touched .cke_contents {
    border: 1px solid red;
}
// ::ng-deep .tooltip-inner{
//     background-color: #5f5959;
//     border:1px solid rgb(90, 88, 88);
// }

.spinner-border-custom {
    margin-bottom: 1px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.17em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.badge-inverse-info {
    border: 1px solid;
    border-color: #62d1f3;
    color: #62d1f3 !important;
}




::ng-deep .cke {
    max-width: 6.5in !important;
    // max-height: 3.5in !important;
  }
::ng-deep .cke_contents {
    height: 5.5in !important
  }
::ng-deep .cke_reset {
    height: 5.5in !important
  }
::ng-deep .cke_contents, .cke_reset {
    height: 5.5in !important
  }
::ng-deep .cke_contents, .cke_reset {
    height: 5.5in !important
  }
::ng-deep .cke_contents, .cke_reset {
    height: 2.5in !important
  }
::ng-deep .cke_contents {
    height: 2.5in !important
  }
  
//  .cke {
//       width: 6.5in !important;
//       max-width: 6.5in !important;
//     //   height: 3in !important;
//     //   max-height: 3in !important;
//   }
//   ::ng-deep .cke_contents {
//     height: 3in !important;
//     max-height: 3in !important;
//   }
  
// .cke_contents {
//     height: 23n !important;
//     max-height: 3in !important;
//   }