.dropdown-menu {
    min-width: 150px;
    border-radius: 6px;
  }
  
  .btn-sm {
    display: flex;
    align-items: center;
    justify-content:  flex-start;
  }
  
  .dropdown-item i {
    margin-right: 8px;
  }
  ::ng-deep .shadow{
   transform: translate(-95px, 38px) !important; 
  }
 