<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;"> 
            <mat-tab label="Racking Routing">
                <app-racking-routing *matTabContent></app-racking-routing>
            </mat-tab>
            <mat-tab label="Transfer Sample">
                <app-sample-transfer *matTabContent></app-sample-transfer>
            </mat-tab>     
            <!-- <mat-tab label="Receive Sample">
                <app-sample-receive *matTabContent></app-sample-receive>
            </mat-tab>  -->
        </mat-tab-group>
    </mat-card-content>
</mat-card>