<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="fas fa-search text-primary"></i>
            </span>
            <h3 class="card-label">
                Assign Share
                <small>Assign share to radiologist</small>
            </h3>
        </div>
    </div>
    <div class="card-body pb-4">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="searchAssignForm" class="form-horizontal" name="form" role="form">
                    <div class="row form-group justify-content-center">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">
                            <label class="">Radiologist Level:</label>
                            <ng-select style="width: 100%;" class="" placeholder="-Select Level-"
                                [items]="doctorlevelList" bindLabel="LevelName" bindValue="LevelID"
                                formControlName="radlevel" (change)="clearDataSet()"
                                [ngClass]="{'invalid': searchAssignForm.get('radlevel').errors , 'invalid-highlighted': searchAssignForm.get('radlevel').errors && isSubmitted }">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">
                            <div class="form-group mt-9">
                                <!-- <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="isCondition" 
                                        [checked]="isChecked" style="cursor: pointer" (change)="setIsLocTest(1)" />
                                    <label class="form-check-label" for="isByLoc"><strong>By Loc</strong></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="isCondition"
                                        style="cursor: pointer" (change)="setIsLocTest(0)" />
                                    <label class="form-check-label" for="isByTest"><strong>By Test</strong></label>
                                </div> -->
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="searchValue" (ngModelChange)="onChange($event)" [ngModelOptions]="{standalone: true}">
                                    <mat-radio-button value="1">By Loc</mat-radio-button>
                                    <mat-radio-button value="0" class="ml-2">By Test </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
                            <label for="subSectionIDs" class="control-label">Section:</label>
                            <ng-select style="width: 100%;" 
                                class=" mt-1 mr-1" 
                                [items]="subSectionList" 
                                bindLabel="SubSectionTitle"
                                placeholder="-Select Section-" 
                                bindValue="SubSectionId" 
                                [multiple]="true" 
                                [closeOnSelect]="false"
                                formControlName="subSectionIDs" 
                                (change)="clearSearchedvalue($event)"
                                >
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                        <span class="ng-value-label"> {{item.SubSectionTitle}}</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 2">
                                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                                    </div>
                                </ng-template>
                                <ng-template ng-header-tmp>
                                    <button (click)="onSelectAllSections()" class="btn btn-mini btn-outline-primary"
                                        type="button"><i class="ti-check"></i> Select all</button>
                                    <button (click)="onUnselectAllSections()"
                                        class="btn btn-mini btn-outline-primary m-l-10 pull-right" type="button"><i
                                            class="ti-close"></i> Unselect all</button>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-3" *ngIf="ByLoc">
                            <label class="">Branch:</label>
                            <ng-select id="pat_branch" style="width: 100%;"
                                [ngClass]="{'invalid': searchAssignForm.get('locID').errors, 'invalid-highlighted': searchAssignForm.get('locID').errors && isSubmitted}" (change)="clearDataSet()"
                                formControlName="locID" [items]="branchList" bindLabel="Title" bindValue="LocId"
                                 placeholder="--Select Branch--">
                            </ng-select>
                        </div>

                        <!-- (change)="getTestPrfoile($event)" -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-3" *ngIf="ByTest">
                            <label class="">Tests:</label>
                            <ng-select style="width: 100%;" class="" placeholder="-Select Tests-" [items]="testList" (change)="onTestChange($event)"
                                bindLabel="TestCompleteName" bindValue="TPId" formControlName="TPID" (change)="clearDataSet()"
                                [ngClass]="{'invalid': searchAssignForm.get('TPID').errors , 'invalid-highlighted': searchAssignForm.get('TPID').errors && isSubmitted }">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                        <span>{{item.TestCompleteName }}</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                            <strong class="text-primary" *ngIf="RegTestProfilePrice>0">Test Price: Rs. {{RegTestProfilePrice}}</strong>
                            <!-- (change)="GetAllLocationByTPID($event)" -->
                        </div>
                        <div class="mt-8 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">
                            <button (click)="searchDataAssign()" class="btn btn-primary" [ngClass]="{'pull-right': !isLargeScreen}" type="button"><i aria-hidden="true" class="fa fa-search"></i>Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom mt-1">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <ngx-spinner class="spinner-warning" [name]="spinnerRefs.searchTable" bdColor="rgba(0,0,0,0.8)"
                    size="medium" color="#fff" type="square-loader" [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                <div class="row justify-content-center" *ngIf="dataSetList.length">
                    <div class="offset-md-3 offset-lg-3 offset-xl-3 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="input-group">
                            <input type="text" placeholder="type to filter" class="form-control form-control-sm"
                                [(ngModel)]="searchText" name="searchText" />
                            <!-- <button class="btn btn-mini btn-outline-primary input-group-btn-custom"
                                (click)="getRadiologistInfoDetail()"><i class="ti-reload"></i></button> -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                         <!-- <span class="pull-right text-danger"><strong class="font-size-sm">Total Records: {{dataSetList.length}}</strong></span>   -->
                         <!-- <span class="pull-right" style="margin: 0px 7px";> - </span> -->
                        <!-- <span class="pull-right text-danger"><strong class="font-size-sm">Selected Records: {{selectedCheckboxesCount}}</strong>  </span>  -->
                        <span *ngIf="dataSetList.length" class="text-warning pull-right"><strong> <span class="text-warning">Total Records: {{dataSetList.length}} </span>  <span class="text-dark">|</span>  <span class="text-warning">Selected Records: {{ selectedCheckboxesCount }}</span> </strong></span>

                    </div>
                </div>
                <div class="table-responsive table-container fixed-height-table">
                    <table *ngIf="!dataSetList.length" class="table table-hover compact table-bordered cursor-pointer" style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr style="border: none !important;">
                                <td colspan="15" style="border: none !important;">
                                    <div class="container">
                                        <app-no-record-found [pyClassParam]="'py-5'" [infoMessageParam]="noDataMessage"></app-no-record-found>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table *ngIf="dataSetList.length" class="table table-hover compact table-bordered cursor-pointer" style="width: 100%;" cellpadding="0" cellspacing="0">
                        <thead>
                          <tr class="sticky-header">
                            <th>
                              <input type="checkbox" [(ngModel)]="mainChk" class="cursor-pointer" [ngModelOptions]="{standalone: true}"
                                (change)="selectAllItems($event.target.checked)" [disabled]="isFieldDisabled" />
                            </th>
                            <th *ngIf="hideLoc">Location</th>
                            <th *ngIf="hideTest">Test</th>
                            <th colspan="4">Initial</th>
                            <th colspan="4">DS</th>
                            <!-- <th colspan="4">Reset</th> -->
                          </tr>
                          <tr class="sticky-header-2">
                            <th></th>
                            <th *ngIf="hideLoc"></th>
                            <th *ngIf="hideTest"></th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Share</th>
                            <th>Share %</th>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Share</th>
                            <th>Share %</th>
                            <!-- <th>Min</th>
                            <th>Max</th>
                            <th>Share</th>
                            <th>Share %</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="text-center" *ngIf="!dataSetList || dataSetList.length === 0">
                                <td colspan="15">No Record Found</td>
                            </tr> -->
                            <tr *ngFor="let data of dataSetList | filterByKey: searchText:['ShortTitle','TestProfileCode','Code']; let i = index">
                                <td>
                                    <input class="cursor-pointer" type="checkbox" (change)="onSelectedDoctor(data)"
                                        [(ngModel)]="data.checked" [ngModelOptions]="{standalone: true}" />
                                </td>
                                <td *ngIf="hideLoc"><span ngbTooltip="{{data.Title}}">{{data.Code}}</span></td>
                                <td *ngIf="hideTest"><span ngbTooltip="{{data.TestProfileName}}">{{data.TestProfileCode}}</span> - <span class="text-primary">Rs: {{data.TestProfilePrice}}</span></td>
                                
                                <!-- Initial Columns -->
                                <td>
                                    <input type="text" placeholder="Min" [(ngModel)]="data.MINInitial" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MINInitial && data.checked,'invalid-highlighted': !data.MINInitial && data.checked && isValues }"
                                        value="{{data.MINInitial?data.MINInitial:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Max" [(ngModel)]="data.MAXInitial" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MAXInitial && data.checked,'invalid-highlighted': !data.MAXInitial && data.checked && isValues }"
                                        value="{{data.MAXInitial?data.MAXInitial:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Share" [(ngModel)]="data.InitialShare" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.InitialShare && data.checked,'invalid-highlighted': !data.InitialShare && data.checked && isValues }"
                                        (keypress)="validateNo($event)" value="{{data.InitialShare?data.InitialShare:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'Share','Init')">
                                </td>
                                <td>
                                    <input type="text" placeholder="%age" [(ngModel)]="data.InitialSharePerc" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.InitialSharePerc && data.checked,'invalid-highlighted': !data.InitialSharePerc && data.checked && isValues }"
                                        (keypress)="validateDecimalNo($event)" value="{{data.InitialSharePerc?data.InitialSharePerc:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'SharePerc','Init')">
                                </td>
                    
                                <!-- DS Columns -->
                                <td>
                                    <input type="text" placeholder="Min" [(ngModel)]="data.MINDS" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MINDS && data.checked,'invalid-highlighted': !data.MINDS && data.checked && isValues }"
                                        value="{{data.MINDS?data.MINDS:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Max" [(ngModel)]="data.MAXDS" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MAXDS && data.checked,'invalid-highlighted': !data.MAXDS && data.checked && isValues }"
                                        value="{{data.MAXDS?data.MAXDS:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Share" [(ngModel)]="data.DSShare" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.DSShare && data.checked,'invalid-highlighted': !data.DSShare && data.checked && isValues }"
                                        (keypress)="validateNo($event)" value="{{data.DSShare?data.DSShare:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'Share','DS')">
                                </td>
                                <td>
                                    <input type="text" placeholder="%age" [(ngModel)]="data.DSSharePerc" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.DSSharePerc && data.checked,'invalid-highlighted': !data.DSSharePerc && data.checked && isValues }"
                                        (keypress)="validateNo($event)" value="{{data.DSSharePerc?data.DSSharePerc:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'SharePerc','DS')">
                                </td>
                    
                                <!-- Reset Columns -->
                                <!-- <td>
                                    <input type="text" placeholder="Min" [(ngModel)]="data.MINReset" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MINReset && data.checked,'invalid-highlighted': !data.MINReset && data.checked && isValues }"
                                        value="{{data.MINReset?data.MINReset:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Max" [(ngModel)]="data.MAXReset" [ngModelOptions]="{standalone: true}"
                                        (keypress)="validateNo($event)"
                                        [ngClass]="{ 'invalid': !data.MAXReset && data.checked,'invalid-highlighted': !data.MAXReset && data.checked && isValues }"
                                        value="{{data.MAXReset?data.MAXReset:0}}" class="form-control form-control-mini">
                                </td>
                                <td>
                                    <input type="text" placeholder="Share" [(ngModel)]="data.ResetShare" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.ResetShare && data.checked,'invalid-highlighted': !data.ResetShare && data.checked && isValues }"
                                        (keypress)="validateNo($event)" value="{{data.ResetShare?data.ResetShare:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'Share','Reset')">
                                </td>
                                <td>
                                    <input type="text" placeholder="%age" [(ngModel)]="data.ResetSharePerc" [ngModelOptions]="{standalone: true}"
                                        [ngClass]="{ 'invalid': !data.ResetSharePerc && data.checked,'invalid-highlighted': !data.ResetSharePerc && data.checked && isValues }"
                                        (keypress)="validateNo($event)" value="{{data.ResetSharePerc?data.ResetSharePerc:0}}" class="form-control form-control-mini"
                                        (blur)="calculatePercentage(data, 'SharePerc','Reset')">
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 mt-5" *ngIf="dataSetList.length">
                <!-- <button *ngIf="BranchId" class="btn btn-warning pull-right" (click)="showBranchSelectionModal()">
                                <i class="fa fa-clone" aria-hidden="true"></i>Copy</button> -->
                <button type="button" [disabled]="disabledButton"
                class="btn btn-primary pull-right mr-5" mwlConfirmationPopover
                [popoverTitle]="'Please Confirm...!'"
                [popoverMessage]="'Are you sure want to save?'"
                [confirmText]="confirmationPopover.confirmText"
                [cancelText]="confirmationPopover.cancelText"
                [placement]="confirmationPopover.placements[0]" 
                (confirm)="updateDoctorShare()" 
                (cancel)="confirmationPopover.confirmPopoverCancel()"
                confirmButtonType="btn btn-sm btn-primary" cancelButtonType="btn btn-sm btn-outline-secondary"
                (click)="confirmationPopover.confirmClicked = false; confirmationPopover.cancelClicked = false" [appendToBody]="true">
                <i class="fa fa-save"></i>Save<i class="spinner-border-custom" aria-hidden="true" [hidden]="isSpinner"></i>
            </button>
            </div>
        </div>
    </div>
</div>


 <ng-template #showbranchSelectionModal let-showbranchSelectionModal>
                                <div
                                  class="modal-header"
                                  style="display: block !important; padding: 1rem 1.75rem"
                                >
                                  <div class="row">
                                    <div class="col-12">
                                      <h4 class="card-title">Transfer selected RIS Share</h4>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                        <ng-select 
                                        style="width: 100%;" 
                                        [items]="branchList" 
                                        bindLabel="Title" 
                                        [ngClass]="{'invalid invalid-highlighted': (!sourceBranchId && isBranchSubmitted)}"
                                         [closeOnSelect]="true" 
                                        placeholder="Select Targeted Branch"
                                        bindValue="LocId" 
                                        [(ngModel)]="sourceBranchId">
                                    </ng-select>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="text-center mt-5 text-danger">
                                            Upon confirm, the selected share will be applied to all hierarchical levels under the selected branch.
                                        </p>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-sm btn-primary" (click)="confirmBranchSelection()">Confirm</button>
                                  <button
                                    type="button"
                                    class="btn btn-sm btn-outline-info"
                                    data-dismiss="modal"
                                    (click)="showbranchSelectionModal.close()"
                                  >
                                    <i class="fa fa-times-circle"></i>Close
                                  </button>
                                </div>
                </ng-template>