<div class="row text-center bg-gray" [ngClass]="pyClass">
    <div class="col font-weight-bold">{{infoMessageParam}}</div>
</div>

<!-- <div class="row">
    <div class="col-md-2 text-center">
        <img src="./assets/images/brand/info-icon3.png" alt="Info Icon"
            style="height: 41px;width: 54px;">
    </div>
    <div class="col-md-10" style="padding-left: 0px; margin-left: -19px;">
        <p style="font-weight: 700;font-size: 14px;">
       No record found
        </p>
    </div>
</div> -->