::ng-deep .mat-tab-body-content {
  height: 100%  !important;
  overflow: hidden !important;
}

::ng-deep .mat-tab-label{
  border-right: 1px solid #e5e5e5 !important;
  border-top: 1px solid #e5e5e5 !important;
  
}
::ng-deep .mat-tab-label-active{
  // background-color: #4061edbf !important;
  background-color: #1bc5bd !important;
  color: #ffffff !important;
  
} 
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  // background-color: #4964db !important;
  background-color: #1ba7a0 !important;
}
::ng-deep .mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}