<div class="login-form login-forgot">
  <!--begin::Form-->
  <!--begin::Title-->
  <div class="pb-10 pt-lg-0 pt-5">
    <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
      Forgotten Password ?
    </h3>
    <!-- <p class="text-muted font-weight-bold font-size-h4">
        Enter your Cell Number/UserName/Email to reset your password
      </p> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <form #FormData="ngForm" (ngSubmit)="ResetPassword(FormData.value, FormData)" >
        <div class="ForgotPwdDiv" class="mainbox">
          <div class="card card-custom" style="border-radius: 10px;">
            <div class="card-body" >
              <div class="row" >
                <div class="col-12">
                  <div class="">
                    <!-- <p>Please check your registred {{inputLableVal}} for reset password link. .</p> -->
                    <p>
                      Please enter your registered
                      <b><span [innerHTML]="inputLableVal"></span> </b> to reset the
                      password
                    </p>
                    <p>
                      <strong>{{ inputLableValUrdu }}</strong>
                    </p>
                  </div>
                  <div class="">
                    <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="isUseCell" [checked]="isChecked"
                          style="cursor: pointer" (change)="setIsCell(2)" />
                        <label class="form-check-label" for="isUseCell"><strong>Cell Number</strong></label>
                      </div>
                      <div class="form-check form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="isUseCell" style="cursor: pointer"
                          (change)="setIsCell(0)" />
                        <label class="form-check-label" for="isUseCell"><strong>Username</strong></label>
                      </div>
                      <div class="form-check form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="isUseCell" style="cursor: pointer"
                          (change)="setIsCell(1)" />
                        <label class="form-check-label" for="isUseCell"><strong>Email</strong></label>
                      </div>
                      <div class="form-check form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="isUseCell" style="cursor: pointer"
                          (change)="setIsCell(3)" />
                        <label class="form-check-label" for="isUseCell"><strong>Employee No</strong></label>
                      </div>
      
                      <!-- <input name="username" [(ngModel)]="username" class="form-control" type="text"  placeholder="{{inputPlace}}" (keyup)="freshList()" required> -->
      
                      <ng-container [ngSwitch]="isUseCell">
                        <ng-container *ngSwitchCase="0">
                          <input name="username" [(ngModel)]="UserName" class="form-control" type="text"
                            placeholder="{{ inputPlace }}" (keyup)="freshList()" required />
                        </ng-container>
                        <ng-container *ngSwitchCase="1">
                          <input name="Email" [(ngModel)]="Email" class="form-control" type="email"
                            placeholder="{{ inputPlace }}" (keyup)="freshList()" (blur)="validateEmail($event.target.value)"
                            required />
                        </ng-container>
                        <ng-container *ngSwitchCase="2">
                          <input name="CellNo" [(ngModel)]="PhoneNumber" class="form-control" type="text"
                            placeholder="{{ inputPlace }}" (keyup)="freshList()" (blur)="validateNumber($event.target.value)"
                            (keypress)="validateNo($event)" required />
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                          <input name="EmpNo" [(ngModel)]="EmpNo" class="form-control" type="text"
                            placeholder="{{ inputPlace }}" (keyup)="freshList()" 
                            (keypress)="validateNo($event)" required />
                        </ng-container>
                      </ng-container>
      
                      <!-- <ng-container *ngSwitchDefault>
                              <input name="username" [(ngModel)]="username" class="form-control" type="text" placeholder="{{inputPlace}}" (keyup)="freshList()" (keypress)="validateNo($event)" required>
                                <h4>i m 1 which is cell num</h4>
                            </ng-container> -->
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <!-- <button class="icon-hand-right btn btn-info" type="submit">Reset
              Password</button><br />
  
            <p *ngIf="ShowInfoText" class="info-text">Email is sent to your registered(via portal) email address please
              reset your password
            </p>
            <app-social-users></app-social-users> -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group pt-5">
                  <a routerLink="/auth/login" id="kt_login_forgot_cancel" 
                    class="btn btn-light-primary font-weight-bolder pull-right">
                    Cancel
                  </a>

                  <button type="submit" id="kt_login_forgot_submit"
                    class="btn btn-primary font-weight-bolder pull-right mr-2">
                    <i aria-hidden="true" class="fa fa-share"></i> Send Link
                  </button>
                  
                  <!-- <ng-container *ngIf="isLoading$ | async">
                    <span class="spinner spinner-primary ml-5"></span>
                  </ng-container> -->
                </div>
              </div>
            </div>
        </div>
      </form>
    </div>
    
    <!--end::Form group-->
    <!--begin::Form group-->
    
  </div>

  <!-- 
  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="card card-custom bgi-no-repeat gutter-b" style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      ">
      
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">Email is correct!</h3>
          <p class="text-white font-size-lg">
            Message with 'recovery' instruction<br />
            has been sent<br />
          </p>
          <a routerLink="/auth/login" class="swal2-confirm btn font-weight-bold btn-light-primary">
            Ok, got it!
          </a>
        </div>
      </div>
      
    </div>
  </ng-container>
</div> -->

  <!-- <ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template> -->
</div>


