<mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;"> 
            <!-- <mat-tab label="Interviewers Mgt">
                <app-first-assigned-interviewers *matTabContent></app-first-assigned-interviewers>
            </mat-tab> -->
            <mat-tab label="Interview Process">
                <app-interview-process *matTabContent></app-interview-process> 
            </mat-tab>
            <mat-tab label="Interview Result">
                <app-interview-result *matTabContent></app-interview-result>
            </mat-tab>                            
        </mat-tab-group>
    </mat-card-content>
</mat-card>