<div class="visit-management-page">
  <div class="row">
    <div class="col-sm-12 patient-search-area">
      <app-patient-search
        (visitSelectedEvent)="patientVisitEvent($event)"
        [buttonControls]="['visits']"
        [isInquiry]="true"
      ></app-patient-search>
    </div>
  </div>
  <div class="row" style="margin-top: -45px" #visitInfoArea>
    <div class="col-sm-12">
      <app-card [cardClass]="'tim-card tim-card-primary'">
        <ng-container
          *ngIf="
            selectedVisit;
            then visitContainer;
            else visitNotSelectedContainer
          "
        ></ng-container>
        <ng-template #visitContainer>
          <div class="patient-visit-area">
            <div class="col-12">
              <ng-container
                *ngIf="
                  visitTests.length;
                  then patientRecordsContainer;
                  else defaultTemplateContainer
                "
              ></ng-container>
              <ng-template #defaultTemplateContainer>
                <!-- <div class="col-12 text-center"> <hr> <div class="text-primary">No Record(s) Found.</div> </div> -->
                <app-no-record-found
                  [infoMessageParam]="
                    'No study found in final status against this visit'
                  "
                ></app-no-record-found>
              </ng-template>
              <ng-template #patientRecordsContainer>
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="row patient-info-container">
                          <div class="col-md-12" *ngIf="visitTests">
                            <fieldset
                              class="fieldset-primary fieldset-border-top"
                            >
                              <legend
                                class="font-weight-bold text-primary"
                                style="font-size: 1.1rem"
                              >
                                Pateint Info.
                              </legend>
                              <app-patient-basic-info
                                class="bg-light"
                                [PatientId]="PatientID"
                                [VisitId]="VisitID"
                              ></app-patient-basic-info>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="patient-visit-Test-info-container">
                          <fieldset
                            class="fieldset-primary fieldset-border-top"
                          >
                            <legend
                              class="font-weight-bold text-primary"
                              style="font-size: 1.1rem"
                            >
                              Test Info.
                            </legend>
                            <div>
                              <table
                                class="table table-hover compact table-bordered"
                                *ngIf="visitTests.length"
                              >
                                <thead>
                                  <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th class="text-center"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    class="cursor-pointer"
                                    *ngFor="let tp of visitTests; let i = index"
                                    [ngStyle]="{
                                      'text-decoration':
                                        tp.TestStatusId < 0
                                          ? 'line-through'
                                          : '',
                                      color: tp.ProcessId == 2 ? 'red' : 'black'
                                    }"
                                  >
                                    <td>{{ tp.Code }}</td>
                                    <td>{{ tp.Test }}</td>
                                    <td>{{ tp.TestStatus }}</td>
                                    <td class="text-center">
                                      <mat-checkbox
                                        class="example-margin"
                                        name="itemChecked"
                                        [(ngModel)]="tp.checked"
                                        [disabled]="
                                          !tp.IsGenerateAddendumRequest
                                        "
                                        (change)="
                                          onAddenSecondOpinCheckboxChange()
                                        "
                                      >
                                      </mat-checkbox>
                                      <span class="ml-2">
                                        <button ngbTooltip="Revert the request"
                                          *ngIf="!tp.IsGenerateAddendumRequest"
                                          [disabled]="disabledButton"
                                          class="btn btn-sm btn-danger pull-right"
                                          mwlConfirmationPopover
                                          [popoverTitle]="'Please confirm...!'"
                                          [popoverMessage]="
                                            confirmationPopoverConfig.popoverMessage
                                          "
                                          [confirmText]="
                                            confirmationPopoverConfig.confirmText
                                          "
                                          [cancelText]="
                                            confirmationPopoverConfig.cancelText
                                          "
                                          [placement]="
                                            confirmationPopoverConfig
                                              .placements[0]
                                          "
                                          (confirm)="
                                            revertAddendum(tp)
                                          "
                                          (cancel)="
                                            confirmationPopoverConfig.confirmPopoverCancel()
                                          "
                                          confirmButtonType="btn btn-sm btn-primary"
                                          cancelButtonType="btn btn-sm btn-outline-secondary"
                                          (click)="
                                            confirmationPopoverConfig.confirmClicked = false;
                                            confirmationPopoverConfig.cancelClicked = false
                                          "
                                          [appendToBody]="true"
                                        ><i aria-hidden="true" class="fa fa-undo"></i>Revert
                                          <i
                                            class="spinner-border-custom"
                                            aria-hidden="true"
                                            [hidden]="isSpinner"
                                          ></i>
                                        </button>
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
                      >
                        <div class="form-group mt-6">
                          <!-- <label for="AddendumRemarks" class="control-label">Remarks:</label> -->
                          <mat-radio-group
                            aria-label="Select an option"
                            [(ngModel)]="RequestType"
                            (ngModelChange)="onChange($event)"
                          >
                            <mat-radio-button value="1"
                              >Addendum</mat-radio-button
                            >
                            <mat-radio-button value="2"
                              >Second Opinion
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
                      >
                        <div
                          class="alert alert-custom alert-light-danger"
                          role="alert"
                        >
                          <div class="alert-icon">
                            <span class="svg-icon svg-icon-danger svg-icon-xl"
                              ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px"
                                height="24px"
                                viewBox="0 0 24 24"
                                version="1.1"
                              >
                                <g
                                  stroke="none"
                                  stroke-width="1"
                                  fill="none"
                                  fill-rule="evenodd"
                                >
                                  <rect
                                    x="0"
                                    y="0"
                                    width="24"
                                    height="24"
                                  ></rect>
                                  <path
                                    d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                                    fill="#000000"
                                    opacity="0.3"
                                  ></path>
                                  <path
                                    d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                                    fill="#000000"
                                    fill-rule="nonzero"
                                  ></path>
                                </g></svg
                            ></span>
                          </div>
                          <div class="alert-text">
                            <strong>{{ noticeBoardHeading }}:</strong>
                            {{ noticeBoardText }}<br /><span
                              *ngIf="RequestType == '2'"
                              >Note: Primary report done by
                              <strong>{{
                                ObjectionQueryReportedDoctor
                              }}</strong>
                            </span>
                          </div>
                        </div>
                      </div>

                      <div
                        class="col-xs-12 col-sm-12 col-md-6"
                        [ngClass]="
                          RequestedBy == 2 || RequestedBy == 5
                            ? 'col-lg-3 col-xl-3'
                            : 'col-lg-6 col-xl-6'
                        "
                      >
                        <div class="form-group">
                          <label for="RequestedBy" class="control-label"
                            >Addendum/Second Opinion Requested By:</label
                          >
                          <select
                            name="RequestedBy"
                            [(ngModel)]="RequestedBy"
                            class="form-control form-control-sm"
                            (change)="setSourcePhysicianAndReportedDoctorName()"
                            [ngClass]="{
                              invalid: !RequestedBy||RequestedBy=='null',
                              'invalid-highlighted':
                                (!RequestedBy||RequestedBy=='null') && clickSubmitBtn
                            }"
                          >
                            <option value="null">--Select Source--</option>
                            <option
                              *ngFor="let row of addendumReviewSources"
                              value="{{ row.AddendumReviewSourceID }}"
                            >
                              {{ row.Title }}
                            </option>
                            <!-- <option value="2">Physician</option>
                                                        <option value="3">Patient Attendant</option>
                                                        <option value="4">Branch Manager</option> -->
                          </select>
                        </div>
                      </div>
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"
                        *ngIf="RequestedBy == 2 || RequestedBy == 5"
                      >
                        <div class="form-group">
                          <label
                            *ngIf="RequestedBy == 2"
                            for="QueryObjection"
                            class="control-label"
                            >Physician:</label
                          >
                          <label
                            *ngIf="RequestedBy == 5"
                            for="QueryObjection"
                            class="control-label"
                            >Reported Radiologist:</label
                          >
                          <input
                            [disabled]="disabledPhysician"
                            type="text"
                            class="form-control form-control-sm"
                            name="ObjectionQueryPhysician"
                            [(ngModel)]="ObjectionQuerySourceName"
                            (click)="selectAllText($event)"
                          />
                        </div>
                      </div>
                      <ng-container *ngIf="RequestType === '2'">
                        <div
                          class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                        >
                          <div class="form-group">
                            <label for="RadiologistID" class="control-label"
                              >Second Opinion Doctor:</label
                            >
                            <ng-select
                              style="width: 100%"
                              class="mr-1"
                              [items]="radoiologistList"
                              bindLabel="FullName"
                              placeholder="--Select Doctor--"
                              bindValue="EmpId"
                              [(ngModel)]="RadiologistID"
                              [ngClass]="{
                                invalid: !RadiologistID && RequestType == '2',
                                'invalid-highlighted':
                                  !RadiologistID &&
                                  RequestType == '2' &&
                                  clickSubmitBtn
                              }"
                            >
                            </ng-select>
                          </div>
                        </div>
                      </ng-container>
                      <div
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                      >
                        <div class="form-group">
                          <label for="QueryObjection" class="control-label"
                            >Query/Objection/Reason:</label
                          >
                          <textarea
                            class="form-control form-control-sm"
                            name="QueryObjection"
                            [(ngModel)]="QueryObjection"
                            rows="2"
                            (input)="updateCharacterCount()"
                            [ngClass]="{
                              invalid: characterCount < 50,
                              'invalid-highlighted':
                                characterCount < 50 && clickSubmitBtn
                            }"
                          ></textarea>
                          <small
                            [ngClass]="{
                              'over-limit': characterCount < maxCharacterCount
                            }"
                            >{{ characterCount }}/50</small
                          >
                        </div>
                      </div>
                      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                                                <div class="form-group">
                                                    <label for="AddendumRemarks" class="control-label">Remarks:</label>
                                                    <textarea 
                                                    class="form-control form-control-sm" name="AddendumRemarks" [(ngModel)]="AddendumRemarks" rows="2" (input)="updateCharacterCount()"
                                                    [ngClass]="{'invalid': characterCount<15, 'invalid-highlighted': characterCount<15 && clickSubmitBtn}"
                                                    ></textarea>
                                                    <small [ngClass]="{'over-limit': characterCount < maxCharacterCount}">{{ characterCount }}/15</small>
                                                 </div>
                                            </div> -->
                      <div class="col-md-12">
                        <button
                          [disabled]="disabledButton"
                          *ngIf="showHideBtnSubmit"
                          class="btn btn-sm btn-primary pull-right"
                          mwlConfirmationPopover
                          [popoverTitle]="'Please confirm...!'"
                          [popoverMessage]="
                            confirmationPopoverConfig.popoverMessage
                          "
                          [confirmText]="confirmationPopoverConfig.confirmText"
                          [cancelText]="confirmationPopoverConfig.cancelText"
                          [placement]="confirmationPopoverConfig.placements[0]"
                          (confirm)="insertUpdateVisitTestAddendum()"
                          (cancel)="
                            confirmationPopoverConfig.confirmPopoverCancel()
                          "
                          confirmButtonType="btn btn-sm btn-primary"
                          cancelButtonType="btn btn-sm btn-outline-secondary"
                          (click)="
                            confirmationPopoverConfig.confirmClicked = false;
                            confirmationPopoverConfig.cancelClicked = false
                          "
                          [appendToBody]="true"
                        >
                          <i class="fas fa-plus-circle"></i>Submit
                          <i
                            class="spinner-border-custom"
                            aria-hidden="true"
                            [hidden]="isSpinner"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Ramarks and Documents-->
                <div class="row">
                  <hr style="width: 100%; margin: 10px 0px" />
                  <div class="col-md-6 visit-docs-area">
                    <app-visit-docs
                      [propVisitNo]="VisitID"
                      [editing]="{ select: true, camera: true }"
                      [layout]="'grid2'"
                      [layoutButtons]="['compact', 'list', 'grid', 'grid2']"
                      [isLoadByDefault]="false"
                    ></app-visit-docs>
                  </div>
                  <div class="col-md-6 visit-remarks-area">
                    <app-visit-remarks
                      [propVisitNo]="VisitID"
                    ></app-visit-remarks>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </ng-template>
        <ng-template #visitNotSelectedContainer>
          <div class="col-12 text-center text-primary">
            <hr />
            <div>Please search patient and select visit to show details</div>
          </div>
        </ng-template>
      </app-card>
    </div>
  </div>
</div>
