<!-- <mat-card>
    <mat-card-content>
        <mat-tab-group class="demo-tab-group" style="background-color: #fff;">  -->
            <!-- <mat-tab label="Applicants List"> -->
                <app-applicants-parent></app-applicants-parent>
            <!-- </mat-tab> -->
            <!-- <mat-tab label="Shortlisted Applicants">
                <app-shortlisted-applicants *matTabContent></app-shortlisted-applicants> 
            </mat-tab>
            <mat-tab label="Confirmed Applicants">
                <app-confirmed-applicants *matTabContent></app-confirmed-applicants>
            </mat-tab>                             -->
        <!-- </mat-tab-group>
    </mat-card-content>
</mat-card> -->