<div class="roles-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <app-card [title]="'Registration Statistics'" [cardClass]="'tim-card tim-card tim-card-info'">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="filterBy">Filter By:</label>
                <div >
                  <select class="form-control" name="filterBy" placeholder="--Select Calendar--" [(ngModel)]="filterBy">
                     <option *ngFor="let s of arrFilterBy" [value]="s.id">{{s.title}}</option>
                    <!-- <option value="2">Month Wise</option>
                    <option value="3">Week Wise</option> -->
                  </select>
                </div>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="StartDate" class="control-label">Start Date:</label>
                <input readOnly #dStart type="text" class="form-control mt-1 mr-1" (click)="dFrom_date.toggle()"
                  placeholder="dd-mm-yyyy" autocomplete="off" name="dStart" ngbDatepicker #dFrom_date="ngbDatepicker" 
                  [(ngModel)]="fromDate">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="Expiry Date" class="control-label">End Date:</label>
                <input readOnly #dExpiry type="text" class="form-control mt-1 mr-1" (click)="dExpiry_date.toggle()"
                  placeholder="dd-mm-yyyy" autocomplete="off" name="ExpiryDate" ngbDatepicker
                  #dExpiry_date="ngbDatepicker" [(ngModel)]="toDate">

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
                <label for="groupBy">Group By:</label>
                <div >
                  <select class="form-control" name="groupBy" placeholder="--Select Calendar--" [(ngModel)]="groupBy">
                     <option *ngFor="let s of arrGroupBy" [value]="s.id">{{s.title}}</option>
                    <!-- <option value="2">Month Wise</option>
                    <option value="3">Week Wise</option> -->
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">

                <label for="branchIds" class="control-label">Locations</label>
                <ng-select style="width: 100%;" class=" mt-1 mr-1" [items]="branchesList" bindLabel="Title"
                  placeholder="-Select Branch-" bindValue="LocId" [(ngModel)]="branchIds" name="branchIds"
                  [multiple]="true" [closeOnSelect]="false">

                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      <span class="ng-value-label"> {{item.Title}}</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <button (click)="onSelectAllBranches()" class="btn btn-mini btn-outline-primary" type="button"><i
                        class="ti-check"></i> Select all</button>
                    <button (click)="onUnselectAllBranches()" class="btn btn-mini btn-outline-primary m-l-10 pull-right"
                      type="button"><i class="ti-close"></i> Unselect all</button>
                  </ng-template>
                </ng-select>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
              <div class="form-group">
                <label for="labDeptID">Lab Department:</label>
                <select class="form-control" name="labDeptID" placeholder="--Select Department--" [(ngModel)]="labDeptID" 
                  (change)= "getSubSection(); getTestProfile();">
                  <option value="-1">-Select All-</option>
                  <option value="1">Lab</option>
                  <option value="2">Imaging</option>              
                </select>
              </div>
            </div> 
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
    
                <label for="subSectionIDs" class="control-label">Sub Section:</label>
                <ng-select style="width: 100%;" class=" mt-1 mr-1" [items]="subSectionList" bindLabel="SubSectionTitle"
                  placeholder="-Select Sub Section-" bindValue="SubSectionId" [(ngModel)]="subSectionIDs" name="subSectionIDs"
                  [multiple]="true" [closeOnSelect]="false" (ngModelChange)= "getTestProfile()">
    
                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      <span class="ng-value-label"> {{item.SubSectionTitle}}</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <button (click)="onSelectAllSubSections()" class="btn btn-mini btn-outline-primary" type="button"><i
                        class="ti-check"></i> Select all</button>
                    <button (click)="onUnselectAllSubSections()" class="btn btn-mini btn-outline-primary m-l-10 pull-right"
                      type="button"><i class="ti-close"></i> Unselect all</button>
                  </ng-template>
                </ng-select>
    
              </div>
            </div>  
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group">
    
                <label for="testProfileIDs" class="control-label">Test Profile:</label>
                <ng-select style="width: 100%;" class=" mt-1 mr-1" [items]="testProfileList" bindLabel="TestProfileCode"
                  placeholder="-Select Test Profiles-" bindValue="TPID" [(ngModel)]="testProfileIDs" name="testProfileIDs"
                  [multiple]="true" [closeOnSelect]="false">
    
                  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let item of items | slice:0:2">
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      <span class="ng-value-label"> {{item.TestProfileCode}}</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                      <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <button (click)="onSelectAllTestProfile()" class="btn btn-mini btn-outline-primary" type="button"><i
                        class="ti-check"></i> Select all</button>
                    <button (click)="onUnselectAllTestProfile()" class="btn btn-mini btn-outline-primary m-l-10 pull-right"
                      type="button"><i class="ti-close"></i> Unselect all</button>
                  </ng-template>
                </ng-select>
    
              </div>

             
            </div> 
            

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <div class="form-group btn-group" role="group">

                <button  type="button" ngbTooltip="Search Registration" (click)="searchBranchWiseRegistrationCount()"
                  class="btn btn-sm btn-info mt-10">
                  <i class="fa fa-search"></i> Search<i aria-hidden="true"></i>
                </button>
                <button  type="button" ngbTooltip="Search Registration" (click)="exportAsXLSX(1)"
                  class="btn btn-sm btn-info mt-10">
                  <i class="fa fa-download"></i> Download<i aria-hidden="true"></i>
                </button>
                <button  type="button" ngbTooltip="Comparative Graph" (click)="showComparativeChart()"
                class="btn btn-sm btn-info mt-10">
                <i class="ti-stats-up"></i> Relative Chart<i aria-hidden="true"></i>
              </button>                
              </div>             
            </div>
          </div>
          <div class="row">
            <ngx-spinner class="spinner-danger" bdColor="rgba(0,0,0,0.8)" [name]="spinnerRefs.mainRegCount" size="medium" color="#fff" type="square-loader" [fullScreen]="false">
              <p style="color: white"> Loading... </p>
          </ngx-spinner>
            <div *ngIf="regCountList.length" class="table-responsive fixed-height-table">

              <table class="table table-hover" style="width: 100%;">
                <thead>
                  <tr >
                    <th>Select</th>
                    <ng-container *ngFor="let header of _object.keys(regCountList[0]); let i = index">
                      <ng-container>
                        <th style="cursor: pointer" (click)="sortByHeader(header)" *ngIf="header !== 'LocID' && header !== 'isBranchSelected'">
                          <span>
                            <span *ngIf="header !== 'BranchName'" class="text-danger d-block d-sm-inline">
                              ({{ monthSums[header] || '-' }})
                            </span>
                            {{ header }}
                            <i class="ti-exchange-vertical text-primary" aria-hidden="true"></i>
                          </span>
                        </th>
                      </ng-container>
                    </ng-container>
                    
                    <!-- <th class="text-right"> Section Detail </th>
                    <th class="text-right"> Test Detail </th> -->
                    <th  class="text-right" style="width: 85px; min-width: 85px;">Action  </th>
                  </tr>
                </thead>
                <tbody>
                  
                  <ng-container *ngIf="regCountList[0].LocID > 0">
                    <tr  *ngFor="let row of regCountList; let i = index ">
                      <td class="text-center" style="float:left;">
                        <input type="checkbox" [(ngModel)]='row.isBranchSelected'>
                      </td>
                      <ng-container *ngFor="let objKey of _object.keys(row); let j = index">
                        <td *ngIf="objKey !== 'LocID' && objKey !== 'isBranchSelected'">
                          {{ row[objKey] || '--'}} 
                        </td>
                      </ng-container>
                      <td class="text-right">
                        <span (click)="showSectionWiseRegCount(row)" class="cursor-pointer" style="font-size: 17px;"
                          placement="top" ngbTooltip="Section Detail">
                          <i class="fa fa-th-large text-danger mr-2"></i>
                        </span>
                      
                        <span (click)="showTestWiseRegCount(row)" class="cursor-pointer" style="font-size: 17px;"
                          placement="top" ngbTooltip="Test Detail">
                          <i class="fa fa-flask text-primary mr-2"></i>
                        </span>
                      
                        <span (click)="showBranchWiseRegChart(row)" class="cursor-pointer" style="font-size: 17px;"
                          placement="top" ngbTooltip="View Chart">
                          <i class="ti-stats-up text-success"></i>
                        </span>
                      </td>
                    </tr>
                  </ng-container>                 
                  <tr>
                    <td colspan="3" *ngIf="regCountList[0].LocID == 0"> 
                        <div class="alert alert-info text-center" role="alert">
                            No record available <i class="fa fa-exclamation-triangle text-light" aria-hidden="true"></i>
                      </div>
                    </td>
                  </tr> 
                </tbody>
              </table>

            </div>

          </div>

        </div>
      </app-card>
    </div>
  </div>
</div>



<!------begin:: TestWiseRegCount Popup-->
<ng-template #testWiseRegCount let-testWiseRegCount>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{popupHeader}} Wise Registration Detail {{branchName}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeLoginModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-xl-2">
          <div class="form-group">
            <label for="labDeptID">Lab Department:</label>
            <select class="form-control" name="labDeptID" placeholder="--Select Department--" [(ngModel)]="labDeptID" 
              (change)= "getSubSection(); getTestProfile();">
              <option value="-1">-Select All-</option>
              <option value="1">Lab</option>
              <option value="2">Imaging</option>              
            </select>
          </div>
        </div> 
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">

            <label for="subSectionIDs" class="control-label">Sub Section:</label>
            <ng-select style="width: 100%;" class=" mt-1 mr-1" [items]="subSectionList" bindLabel="SubSectionTitle"
              placeholder="-Select Sub Section-" bindValue="SubSectionId" [(ngModel)]="subSectionIDs" name="subSectionIDs"
              [multiple]="true" [closeOnSelect]="false" (ngModelChange)= "getTestProfile()">

              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  <span class="ng-value-label"> {{item.SubSectionTitle}}</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 2">
                  <span class="ng-value-label">{{items.length - 2}} more...</span>
                </div>
              </ng-template>
              <ng-template ng-header-tmp>
                <button (click)="onSelectAllSubSections()" class="btn btn-mini btn-outline-primary" type="button"><i
                    class="ti-check"></i> Select all</button>
                <button (click)="onUnselectAllSubSections()" class="btn btn-mini btn-outline-primary m-l-10 pull-right"
                  type="button"><i class="ti-close"></i> Unselect all</button>
              </ng-template>
            </ng-select>

          </div>
        </div>  
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group">

            <label for="testProfileIDs" class="control-label">Test Profile:</label>
            <ng-select style="width: 100%;" class=" mt-1 mr-1" [items]="testProfileList" bindLabel="TestProfileCode"
              placeholder="-Select Test Profiles-" bindValue="TPID" [(ngModel)]="testProfileIDs" name="testProfileIDs"
              [multiple]="true" [closeOnSelect]="false">

              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:2">
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  <span class="ng-value-label"> {{item.TestProfileCode}}</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 2">
                  <span class="ng-value-label">{{items.length - 2}} more...</span>
                </div>
              </ng-template>
              <ng-template ng-header-tmp>
                <button (click)="onSelectAllTestProfile()" class="btn btn-mini btn-outline-primary" type="button"><i
                    class="ti-check"></i> Select all</button>
                <button (click)="onUnselectAllTestProfile()" class="btn btn-mini btn-outline-primary m-l-10 pull-right"
                  type="button"><i class="ti-close"></i> Unselect all</button>
              </ng-template>
            </ng-select>

          </div>
        </div>             
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="form-group btn-group" role="group">

            <button  type="button" ngbTooltip="Search Registration" 
              (click)="searchRegistrationCount(locationID,testProfileIDs,labDeptID,subSectionIDs)"
              class="btn btn-sm btn-info mt-10">
              <i class="fa fa-search"></i> Search<i aria-hidden="true"></i>
            </button>
            <button  type="button" ngbTooltip="Search Registration" (click)="exportAsXLSX(2)"
              class="btn btn-sm btn-info mt-10">
              <i class="fa fa-download"></i> Download<i aria-hidden="true"></i>
            </button>
            <button  type="button" ngbTooltip="Comparative Graph" (click)="showComparativeChartST()"
            class="btn btn-sm btn-info mt-10">
            <i class="ti-stats-up"></i> Relative Chart<i aria-hidden="true"></i>
          </button>             
          </div>             
        </div>
        
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div>
                <div class="row">
                  <ngx-spinner class="spinner-danger" bdColor="rgba(0,0,0,0.8)" [name]="spinnerRefs.testRegCount" size="medium" color="#fff" type="square-loader" [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                </ngx-spinner>
                  <div *ngIf="testRegCountList.length" class="table-responsive fixed-height-table">

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th> select</th>
                          <ng-container *ngFor="let header of _object.keys(testRegCountList[0]); let i = index ">
                            <ng-container *ngIf="header !== 'isTSSelected'">
                              <th>{{header}} </th>
                            </ng-container>
                          </ng-container>
                          <!-- <th class="text-right"> Action </th> -->
                          <th class="text-right"> Show Graph </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of testRegCountList; let i = index ">
                          <td class="text-center" style="float:left;">
                            <input type="checkbox" [(ngModel)]='row.isTSSelected'>
                          </td>
                          <ng-container *ngFor="let objKey of _object.keys(row); let j = index">
                            <td *ngIf="objKey !== 'isTSSelected'">{{ row[objKey] }} </td>
                          </ng-container>
                          <!-- <td class="text-right">
                                        <span   (click)="showTestWiseRegCount(row)" class="cursor-pointer" style="font-size: 17px;" placement="top" ngbTooltip="View Detail"> 
                                            <i class="fa fa-eye text-info"></i>
                                        </span>
                                    </td> -->
                          <td class="text-right" >
                            <span (click)="showBranchWiseRegChart(row)" class="cursor-pointer" style="font-size: 17px;" placement="top"
                              ngbTooltip="View Chart">
                              <i class="fa fa-eye text-info"></i>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal" (click)="closeLoginModal()">
      <i class="fa fa-times-circle"></i> Close</button>
  </div>

  
</ng-template>



<!------begin:: BranchWiseRegChart Popup-->
<ng-template #branchWiseRegChart let-branchWiseRegChart>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{popupHeader}} Wise Registration Chart  {{branchName}}</h5>
    <button type="button"  aria-label="Close" (click)="branchWiseRegChart.close()">X
      
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row btn-group-margin-top">
        <div class="col-8">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="changeChart(1)">Line Chart</button>
            <button type="button" class="btn btn-sm btn-outline-info" (click)="changeChart(2)">Bar Chart</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-success">Pie Chart</button> -->
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="changeChart(3)">Pie Chart</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-warning">Pie Chart</button> -->
          </div>
        </div>
        <div class="col-4">
          <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
            <button type="button" class="btn btn-sm btn-outline-danger pull-right" (click)="exportChart(chartType)">Export Chart</button>
          <!-- </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div>
                <div *ngIf = "chartType == 2" class="chart-wrapper mt-2">
                  <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [colors]="barChartColors"
                  [chartType]="barChartType">
                </canvas>                  
              </div>
              <div *ngIf = "chartType == 1" class="chart-wrapper mt-2">
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>                 
            </div>    
            <div *ngIf = "chartType == 3" class="chart-wrapper mt-2">
              <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>                
          </div>                                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal" (click)="branchWiseRegChart.close()">
      <i class="fa fa-times-circle"></i> Close</button>
  </div>


</ng-template>

